select{
    width: 350px;
    height: 50px;
}

.inFilter{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Filter {
    width: 100%;
}

.Right form label:last-of-type{
    font-weight: 300;
}

.Filter div{
    display: flex;
    flex-direction: column;
}

.Filter input{
    width: 100px !important;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.Right{
    margin-left: 30px;
    width: 40%;
}
.Right form label{
    margin-top: 10px;
    width: 40%;
}


.Left div *{
    margin-top: 10px;
}

@media  screen and (max-width:800px) {
    .Filter{
        flex-direction: column;
    }
}