.login form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
}
.login label{
    width: 100%;
    text-align: left;
}

.login input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.login div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.login h1{
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 20px;
}

